[Unit]
Description=equibot

[Service]
Type=exec
Restart=always
ExecStartPre=pnpm install --frozen-lockfile
ExecStartPre=pnpm build
ExecStart=pnpm start
WorkingDirectory=%h/equibot

[Install]
WantedBy=default.target
